/* Include the padding and border in an element's total width and height */
* {
    font-family: 'Montserrat', sans-serif;
    /* box-sizing: border-box; */
}


body {
    background-image: url('./images/moroccan-flower.png');
}

/* To-Do List Title */
.title {
    display: grid;
    grid-template-rows: repeat(3, auto);
    text-align: center;
    background-color: white;
    padding: 30px 40px;
    font-size: 5rem;

}

.addButton:hover {
    background: #888;
}

.list-container {
    background: rgb(236, 235, 235);
}

h1 {
    margin: 0;
}

/* Remove pading and margin from list */
ul {
    margin: 0;
    padding: 0;
}

/* Styling of list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 2.5rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Alternates colors among list items */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker color when hovering */
ul li:hover {
    background: rgb(204, 204, 204);
}

/* When active, add strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}



