/* Include the padding and border in an element's total width and height */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* background-image: url('./moroccan-flower.png'); */
    /* margin: 2vh; */
    /* margin: auto; */
}


body {
    background-image: url('./images/moroccan-flower.png');
}


.main-container {
    /* margin: auto; */
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 50vh;
    width: 50vh;
    background-color: white;

}

h1 {
    margin: 0;
}

ul li {
    cursor: pointer;
    position: relative;
}



